.agdasima-regular {
  font-family: "Agdasima", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.agdasima-bold {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}


*{
        color: rgb(20, 20, 20);
        /* font-size: 15px; */
        margin-top: 0%;
        font-size: 20px;
        font-family: agency FB;
        background-color: #dcdcdc;
    }

    a {
        text-decoration: none;
    }
    h1,h2,h3,p,b {
        background-color: transparent;
        margin: 0px;
        padding: 0px;
        
    }

    .cat-aside {
        background-color: #03dd8d;
        font-weight: bold;
        box-shadow: 8px 8px 15px -7px rgba(0,0,0,0.65);
        padding-left: 3px;
    }

    .titulo1{
        background-color: #03dd8d;
        /* padding: 6px; */
        margin: 3px;
        box-shadow: 8px 8px 15px -7px rgba(0,0,0,0.65);
        text-align: center;
        margin: 0px 10px 0px 10px;
        /* padding: 5px; */
    }
    .titulo2{
        background-color: rgb(169, 177, 0);
        box-shadow: 8px 8px 15px -7px rgba(0,0,0,0.65);
        text-align: center;
        /* padding: 8px; */
        margin: 0px 10px 0px 10px;
        /* padding: 5px; */
    }

    .navbar{

        text-align: center;
        display: block;
        /* background-color: bisque; */
        width: 100%;
        height: 60px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        grid-template-rows: 33.3%, 33.3%, 33.3%,;

        grid-template-areas: "t f w w w p s"
                            "t f w w w p s"
                            "t f esp esp esp p s";
        /* border: 3px solid red; */
        grid-gap: 5px;
        height: 500px;
        padding: 8px;
    }

/* clasificaciones - seccion5 */

.clasificaciones{
    display: grid;
    grid-template-columns: repeat(4);
    grid-template-rows:min-content;
    grid-template-areas: "tit tit tit tit"
                        "z x c v"
                        "cons cons cons cons";

    background-color: #03dd8d;
    grid-column-gap: 0%;
    padding-left: 8px;
    padding-right: 5px;
    /* grid-auto-columns: min-content; */
    grid-area: p;
}
.clasif-titulo{
    grid-area: tit;
    background-color: #c61b1b;

    /* margin: 0%; */

}
.clasif-pos{
    grid-area: z;
    /* height: min-content; */
    display: block;
    background-color: transparent;

}
.clasif-pos p{
    color: #000000;
    background-color: transparent;
    border-bottom: 1px solid black;
}
.clasif-piloto{
    grid-area: x;
    /* height: min-content; */
    display: block;
    background-color: transparent;
}
.clasif-piloto p{
    color: #000000;
    border-bottom: 1px solid black;
}
.clasif-const{
    grid-area: c;
    /* height: min-content; */
    display: block;
    background-color: transparent;
}
.clasif-const p{
    color: #000000;
    border-bottom: 1px solid black;
}
.clasif-pun{
    grid-area: v;
    /* height: min-content; */
    display: block;
    background-color: transparent;
}
.clasif-pun p{
    color: #000000;
    border-bottom: 1px solid black;
}

.clasif-cons{
    grid-area: cons;
    background-color: #c61b1b;
    height: min-content;
}
/* clasificaciones - seccion5 */


/* .clasif-2{
        grid-area: 2;
    }
    .clasif-3{
        grid-acontentrea: 3;
    }
    .clasif-4{
        grid-area: 4;
    } */




    .container-angosto{
        display: grid;
        height: fit-content;
        
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 25%, 25%, 25%, 25%;
        grid-template-areas: "t f w w w p s"
                            "t f w w w p s"
                            "t f esp esp esp p s";
    }

    .s1{
        /* background-color: rgba(0, 0, 255, 0); */
        
        grid-area: t;
    }
    .s2{
        /* background-color: rgb(0, 255, 195); */
        grid-area: w;
        /* border-radius: 1%; */
    }
 
    .s3{
        /* padding-top: 10px; */
        text-size-adjust: 10%;
        text-align: left;
        padding-right: 10px;
        /* margin: 0%; */
        grid-area: f;
        
    }
    .s3 div {
        margin-bottom: 3px;
        
    }
    .s3 div p{
        margin: 0%;
        border-bottom: 1px solid rgb(172, 14, 14);
        /* border : 2px solid red;  */
    }

    .s4{
        background-color: rgba(0, 0, 255, 0);
        grid-area: s;
    }
    .s5{
        background-color: rgb(0, 255, 153);
        grid-area: p;
        height: 500px;
    }

    .s6{
        grid-area: esp;
    }
    .card {
        background-color: rgb(72, 119, 212);
        margin: 5px;
        padding: 5px;
        
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 5px;
        /* margin: 10px; */
        grid-template-areas: "card card card";
        gap:0px ;
    }

    .footer{
        background-color: black;
    }
    .cat {
        grid-area: cat;
        color: rgb(251, 251, 251);
        background-color: rgba(0, 0, 0, 0.285);
        padding-left: 3px;

    }
    .gp {
        grid-area: gp;
        font-size: 20px;
        line-height: 1;
    }
    .date1 {
        grid-area: date1;
        background-color: #00000019;
        color: #ffffff;
        font-weight: bold;
        padding-left: 2px;
        padding-top: 0%;
        padding-bottom: 0%;
        margin-bottom: 0;
        margin-top: 0;
    }
    .date2{
        grid-area: date2;
        padding-left: 2px;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 0;
    }


    .cir {
        background-color: rgba(0, 0, 0, 0.074);
        /* align-self:flex-end; */
        grid-area: cir;
    }


    .card1 {
        display: grid;
        height: auto;
        padding: 8px;
        margin: 10px;
        background-color: #f5035b;
        box-shadow: 8px 8px 15px -7px rgba(0,0,0,0.65);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 25%, 25%, 25%,;

        grid-template-areas: "cat cat cir cir"
                            "gp gp cir cir"
                            "date1 date1 cir cir"
                            "date2 date2 cir cir" ;

    }

    .cardEsp {
        display: grid;
        height: auto;
        padding: 8px;
        margin: 10px;
        background-color: rgb(169, 177, 0);
        box-shadow: 8px 8px 15px -7px rgba(0,0,0,0.65);
        /* -webkit-box-shadow: 8px 8px 15px -7px rgba(0,0,0,0.65); */
        /* -moz-box-shadow: 8px 8px 15px -7px rgba(0,0,0,0.65); */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 25%, 25%, 25%,;

        grid-template-areas: "cat cat cir cir"
                            "gp gp cir cir"
                            "date1 date1 cir cir"
                            "date2 date2 cir cir" ;

    }

    .card-ang{
        background-color: #f5035b;
        box-shadow: 8px 8px 15px -7px rgba(0,0,0,0.65);
        margin: 5px;
        padding: 5px;
        height: auto;
    }
    .card-ang-corrida{
        background-color: #a6003d;
        box-shadow: 8px 8px 15px -7px rgba(0,0,0,0.65);
        margin: 5px;
        padding: 5px;
        height: auto;
    }
    .card-ang h1{
        color: #fff;
        background-color: rgba(0, 0, 0, 0.103);
        padding-left: 3px;
        
    }
    .card-ang-corrida h1{
        color: #7c7c7c;
        background-color: rgba(0, 0, 0, 0.042);
        padding-left: 3px;
        
    }
